<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Ajout projet</title>
</head>
<body>
    <h1> Ajout projet </h1>
    <h2> Entrer vos informations </h2>
    <a class ="bouton" href="/projet">Retourner à liste projet</a>
    
    <form action ="/projet/ajoutProjet" method="POST">
        <p>
            <label>idProjet : <input type="text" name="idProjet" required="true" maxlength="45" /> </label>
        </p>
        <p>
            <label>Nom : <input type="text" name="nom"  maxlength="45"/> </label>
        </p>
       <p>
           <label>Description : <input type="text" name="description"  maxlength="45"/></label>
       </p>
        <button> Sauver </button>
    </form>
</body>
</html>