<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Erreur nomenclature</title>
</head>
<body>
    <h1> Erreur nomenclature </h1>
    <h2> Veuillez verifier ces elements</h2> 
    <h4> Une ligne vide indique : aucune idNomenclature ou Reference fournisseur</h4>
    <a class ="bouton" href="/nomenclature">Retourner à liste nomenclature</a>

    <table id="myTable">
        <tr class="header">
            <th>idNomenclature</th>
            <th>refFournisseur</th>
        </tr>
        <% for (var i=0; i<uncleanListUpload.length; i++){ %>
        <tr>
              <td>
                  <%=uncleanListUpload[i][0]%> 
              </td>
              <td>
                  <%=uncleanListUpload[i][1]%> 
              </td>
        </tr>
        <% } %> 
</table>
</body>
</html>