<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>modification nomenclature</title>
</head>
<body>
    <h1> modification nomenclature </h1>
    <h2> Entrer vos informations </h2>
    <a class ="bouton" href="/nomenclature">Retourner à liste nomenclature</a>
    
    <form action ="/nomenclature/modifAllNomenclature" method="POST">
        <p>
           <label>rev : <input type="text" name="rev" maxlength="45"/></label>
        </p>
        <p>
           <label>matiere : <input type="text" name="matiere" maxlength="45"/></label>
        </p>
        <p>
           <label>remise : <input type="text" name="remise" maxlength="45"/></label>
        </p>
        <p>
            <label>effectue : <input type="text" name="effectue" maxlength="45"/></label>
         </p>
        <button> Sauver </button>
    </form>
</body>
</html>