<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Modifier bon commande</title>
</head>
<body>
    <h1> Modifier mes bon commande </h1>
    <h2> Entrer vos informations </h2>
    <a class ="bouton" href="/bonCommande">Retourner à liste bon commande</a>
    
    <form action ="/bonCommande/modifAllBonCommande" method="POST">
        <p>
            <label>Description : <input type="text" name="description"  maxlength="45"/> </label>
        </p>
        <p>
            <label>prix total : <input type="text" name="prixTotal"  maxlength="45"/></label>
        </p>
        <p>
            <label> Remise : <input type="text" name="remise"  maxlength="45"/></label>
        </p>
        <p>
            <label>statut : <input type="text" name="statut"  maxlength="45"/></label>
        </p>

        <button> Sauver </button>
    </form>
</body>
</html>